RestaurantDesktopClient/Connected Services/ItemService/ModelLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ItemCat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCat" nillable="true" type="tns:ItemCat" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="tns:Price" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VarPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="ArrayOfItemCat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemCat" nillable="true" type="tns:ItemCat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemCat" nillable="true" type="tns:ArrayOfItemCat" />
</xs:schema>