RestaurantDesktopClient/Connected Services/ItemService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_GetItemByNameAndMenuId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByNameAndMenuId" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemByNameAndMenuId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByNameAndMenuIdResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemPrice" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByCategory" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByMenu" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByRestaurant" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemsByRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsByRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateItemCat_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemCat" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateItemCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemCatResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItemCat_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemCat" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItemCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemCatResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItemCat_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemCat" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItemCat_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemCatResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemCategories" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItemCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemCats_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemCats" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemCats_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemCatsResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="GetItemByNameAndMenuId">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItemByNameAndMenuId" message="tns:IItemService_GetItemByNameAndMenuId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemByNameAndMenuIdResponse" message="tns:IItemService_GetItemByNameAndMenuId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItemPrice" message="tns:IItemService_GetItemPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemPriceResponse" message="tns:IItemService_GetItemPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/CreateItem" message="tns:IItemService_CreateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CreateItemResponse" message="tns:IItemService_CreateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/UpdateItem" message="tns:IItemService_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/UpdateItemResponse" message="tns:IItemService_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/DeleteItem" message="tns:IItemService_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/DeleteItemResponse" message="tns:IItemService_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByCategory" message="tns:IItemService_GetAllItemsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByCategoryResponse" message="tns:IItemService_GetAllItemsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByMenu" message="tns:IItemService_GetAllItemsByMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByMenuResponse" message="tns:IItemService_GetAllItemsByMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByRestaurant" message="tns:IItemService_GetAllItemsByRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemsByRestaurantResponse" message="tns:IItemService_GetAllItemsByRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateItemCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/CreateItemCat" message="tns:IItemService_CreateItemCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CreateItemCatResponse" message="tns:IItemService_CreateItemCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItemCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/UpdateItemCat" message="tns:IItemService_UpdateItemCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/UpdateItemCatResponse" message="tns:IItemService_UpdateItemCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItemCat">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/DeleteItemCat" message="tns:IItemService_DeleteItemCat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/DeleteItemCatResponse" message="tns:IItemService_DeleteItemCat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItemCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItemCategories" message="tns:IItemService_GetAllItemCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemCategoriesResponse" message="tns:IItemService_GetAllItemCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemCats">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItemCats" message="tns:IItemService_GetItemCats_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemCatsResponse" message="tns:IItemService_GetItemCats_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetItemByNameAndMenuId">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItemByNameAndMenuId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemPrice">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItemPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/CreateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByCategory">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItemsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByMenu">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItemsByMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemsByRestaurant">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItemsByRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateItemCat">
      <soap:operation soapAction="http://tempuri.org/IItemService/CreateItemCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemCat">
      <soap:operation soapAction="http://tempuri.org/IItemService/UpdateItemCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemCat">
      <soap:operation soapAction="http://tempuri.org/IItemService/DeleteItemCat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItemCategories">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItemCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemCats">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItemCats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RestaurantService/ItemService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>