RestaurantDesktopClient/Connected Services/MenuService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MenuService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMenuService_CreateMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_CreateMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpdateMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_UpdateMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMenu" />
  </wsdl:message>
  <wsdl:message name="IMenuService_DeleteMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAllMenusByRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenusByRestaurant" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetAllMenusByRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMenusByRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuById" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByName" />
  </wsdl:message>
  <wsdl:message name="IMenuService_GetMenuByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMenuByNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IMenuService">
    <wsdl:operation name="CreateMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/CreateMenu" message="tns:IMenuService_CreateMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/CreateMenuResponse" message="tns:IMenuService_CreateMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/UpdateMenu" message="tns:IMenuService_UpdateMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/UpdateMenuResponse" message="tns:IMenuService_UpdateMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/DeleteMenu" message="tns:IMenuService_DeleteMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/DeleteMenuResponse" message="tns:IMenuService_DeleteMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMenusByRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetAllMenusByRestaurant" message="tns:IMenuService_GetAllMenusByRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetAllMenusByRestaurantResponse" message="tns:IMenuService_GetAllMenusByRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuById">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetMenuById" message="tns:IMenuService_GetMenuById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetMenuByIdResponse" message="tns:IMenuService_GetMenuById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMenuByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IMenuService/GetMenuByName" message="tns:IMenuService_GetMenuByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMenuService/GetMenuByNameResponse" message="tns:IMenuService_GetMenuByName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMenuService" type="tns:IMenuService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/CreateMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/UpdateMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteMenu">
      <soap:operation soapAction="http://tempuri.org/IMenuService/DeleteMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMenusByRestaurant">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetAllMenusByRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuById">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetMenuById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMenuByName">
      <soap:operation soapAction="http://tempuri.org/IMenuService/GetMenuByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MenuService">
    <wsdl:port name="BasicHttpBinding_IMenuService" binding="tns:BasicHttpBinding_IMenuService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RestaurantService/MenuService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>