RestaurantDesktopClient/Connected Services/PriceService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PriceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ModelLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPriceService_CreatePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePrice" />
  </wsdl:message>
  <wsdl:message name="IPriceService_CreatePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePriceResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_DeletePricesByItemId_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricesByItemId" />
  </wsdl:message>
  <wsdl:message name="IPriceService_DeletePricesByItemId_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePricesByItemIdResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetLatestPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestPrice" />
  </wsdl:message>
  <wsdl:message name="IPriceService_GetLatestPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IPriceService_UpdatePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrice" />
  </wsdl:message>
  <wsdl:message name="IPriceService_UpdatePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IPriceService">
    <wsdl:operation name="CreatePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/CreatePrice" message="tns:IPriceService_CreatePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/CreatePriceResponse" message="tns:IPriceService_CreatePrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePricesByItemId">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/DeletePricesByItemId" message="tns:IPriceService_DeletePricesByItemId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/DeletePricesByItemIdResponse" message="tns:IPriceService_DeletePricesByItemId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/GetLatestPrice" message="tns:IPriceService_GetLatestPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/GetLatestPriceResponse" message="tns:IPriceService_GetLatestPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IPriceService/UpdatePrice" message="tns:IPriceService_UpdatePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPriceService/UpdatePriceResponse" message="tns:IPriceService_UpdatePrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPriceService" type="tns:IPriceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreatePrice">
      <soap:operation soapAction="http://tempuri.org/IPriceService/CreatePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePricesByItemId">
      <soap:operation soapAction="http://tempuri.org/IPriceService/DeletePricesByItemId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestPrice">
      <soap:operation soapAction="http://tempuri.org/IPriceService/GetLatestPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrice">
      <soap:operation soapAction="http://tempuri.org/IPriceService/UpdatePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PriceService">
    <wsdl:port name="BasicHttpBinding_IPriceService" binding="tns:BasicHttpBinding_IPriceService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/RestaurantService/PriceService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>