UserWebClient/Connected Services/RestaurantService/ModelLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ModelLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ModelLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRestaurant">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurant" nillable="true" type="tns:ArrayOfRestaurant" />
  <xs:complexType name="Restaurant">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:RestaurantCategory" />
      <xs:element minOccurs="0" name="Discontinued" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Menu" nillable="true" type="tns:Menu" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Verified" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Restaurant" nillable="true" type="tns:Restaurant" />
  <xs:complexType name="RestaurantCategory">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Restaurants" nillable="true" type="tns:ArrayOfRestaurant" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RestaurantCategory" nillable="true" type="tns:RestaurantCategory" />
  <xs:complexType name="Menu">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Items" nillable="true" type="tns:ArrayOfItem" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Menu" nillable="true" type="tns:Menu" />
  <xs:complexType name="ArrayOfItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Item" nillable="true" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItem" nillable="true" type="tns:ArrayOfItem" />
  <xs:complexType name="Item">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ItemCat" nillable="true" type="tns:ItemCat" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="tns:Price" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Item" nillable="true" type="tns:Item" />
  <xs:complexType name="ItemCat">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemCat" nillable="true" type="tns:ItemCat" />
  <xs:complexType name="Price">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VarPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Price" nillable="true" type="tns:Price" />
  <xs:complexType name="ArrayOfRestaurantCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RestaurantCategory" nillable="true" type="tns:RestaurantCategory" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRestaurantCategory" nillable="true" type="tns:ArrayOfRestaurantCategory" />
  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element minOccurs="0" name="NoSeats" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reserved" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RestaurantId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Total" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Table" nillable="true" type="tns:Table" />
  <xs:complexType name="ArrayOfTable">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Table" nillable="true" type="tns:Table" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTable" nillable="true" type="tns:ArrayOfTable" />
</xs:schema>